#container {
    text-align: center;
    margin-top: 100px;
  }

  .botao {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    transition: left 0.5s, top 0.5s;
  }

  #botao-movel:hover {
    background-color: red;
  }

.body{
  background-color: ghostwhite;
}

a{
color: #ffffff;
text-decoration: none;
}